.loader_logo {
  width: 360px;
  height: 50px;
  background-image: image-url("pageflow/themes/#{$theme-name}/logo_header.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 10% auto;
}
