$theme-name: "nos";

$main-color: #798DB2;
$main-color-dark: #4595A6;

$focus-color: #c1c1c1;

$anchor-color: #e84d2c;

$basic-background-color: #353535;
$basic-background-color-transparent: rgba(53, 53, 53, 0.9);
$header-background-color: gray;

$addInfobox-text-color: #fff; /* for the description text inside the info box */
$addInfobox-controls-text-color: #ccc; /* for control text like durations */
$addInfobox-background-color: #191919;
$addInfobox-border-color: #505050;

$standard-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$standard-font-size: 16px;
