$nav-color: $main-color;
$nav-font: $standard-font;

$nav-bg-color: $basic-background-color;
$nav-bg-color-transparent: $basic-background-color-transparent;

.navigation,
.navigation_mobile {
  display: none !important;
}
