<% if entry.theming.cname == 'verhalen.volkskrant.nl' %>

  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KX8PFJ"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KX8PFJ');</script>
  <!-- End Google Tag Manager -->

<% elsif entry.account.name == "NOS" %>

  <% content_for(:head) do %>
    <!-- Begin comScore Inline Tag 1.1302.13 -->
    <script type="text/javascript">
    // <![CDATA[
    function udm_(e){var t="comScore=",n=document,r=n.cookie,i="",s="indexOf",o="substring",u="length",a=2048,f,l="&ns_",c="&",h,p,d,v,m=window,g=m.encodeURIComponent||escape;if(r[s](t)+1)for(d=0,p=r.split(";"),v=p[u];d<v;d++)h=p[d][s](t),h+1&&(i=c+unescape(p[d][o](h+t[u])));e+=l+"_t="+ +(new Date)+l+"c="+(n.characterSet||n.defaultCharset||"")+"&c8="+g(n.title)+i+"&c7="+g(n.URL)+"&c9="+g(n.referrer),e[u]>a&&e[s](c)>0&&(f=e[o](0,a-8).lastIndexOf(c),e=(e[o](0,f)+l+"cut="+g(e[o](f+1)))[o](0,a)),n.images?(h=new Image,m.ns_p||(ns_p=h),h.src=e):n.write("<","p","><",'img src="',e,'" height="1" width="1" alt="*"',"><","/p",">")};
    udm_('http'+(document.location.href.charAt(4)=='s'?'s://sb':'://b')+'.scorecardresearch.com/b?c1=2&c2=17827132&ns_site=po-totaal&potag1=nosportal&potag2=nosportal&potag3=nos&potag4=nos&potag5=omroepportal&potag6=geen&potag7=geen&potag8=site&potag9=site&name=labs.evenementen.longread.2015.12&nos_title=uit-het-leven&nos_project=nos-labs');
    // ]]>
    </script>
    <noscript><p><img src="http://b.scorecardresearch.com/b?c1=2&amp;c2=17827132&amp;ns_site=po-totaal&amp;potag1=nosportal&amp;potag2=nosportal&amp;potag3=nos&amp;potag4=nos&amp;potag5=omroepportal&amp;potag6=geen&amp;potag7=geen&amp;potag8=site&amp;potag9=site&amp;name=labs.evenementen.longread.2015.12&amp;nos_title=uit-het-leven&amp;nos_project=nos-labs" height="1" width="1" alt="*"></p></noscript>
    <!-- End comScore Inline Tag -->
  <% end %>
  <!-- Begin comScore Inline Tag 1.1302.13 -->
  <script type="text/javascript" language="JavaScript1.3" src="http://b.scorecardresearch.com/c2/17827132/cs.js"></script>
  <!-- End comScore Inline Tag -->

<% end %>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//www.spacebabies.nl/analytics/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//www.spacebabies.nl/analytics/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
