<!-- Analytics for Scrollytelling internal use -->
<script>
  var _paq = _paq || [];
  _paq.push(["setCustomVariable", 1, "account", "<%= entry.account.name %>", "visit"]);
  _paq.push(["setCustomVariable", 2, "entry", "<%= entry.title %>", "visit"]);
  _paq.push(['trackPageView']);
  (function() {
    var u="//www.spacebabies.nl/analytics/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//www.spacebabies.nl/analytics/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End of Analytics for Scrollytelling internal use -->

<script type="text/javascript">
    window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},s=d.getElementsByTagName('script')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='//rec.getsmartlook.com/bundle.js';s.parentNode.insertBefore(c,s);
    })(document);
    smartlook('init', '8f32442bdcd61142ea1205be311fd7b7af113e11');
</script>
