<% if theme.has_scroll_back_indicator? %>
  <div class="scroll_back_indicator scroll_indicator indicator" data-direction="up">
    <%= t('pageflow.public.scroll_back_indicator') %>
  </div>
<% end %>

<div class="scroll_next_indicator scroll_indicator indicator" data-direction="down">
  <%= t('pageflow.public.scroll_indicator', default: "Scroll to continue") %>
</div>

<div class="hidden_text_indicator indicator">
  <%= t('pageflow.public.swipe_indicator') %>
</div>

<ul class="sharing">
  <li><a href="#">Share on Twitter</li>
  <li><a href="#">Share on Facebook</a></li>
</ul>

<style>
ul.sharing {
  position: absolute;
  top: 2%;
  right: 8%;
  width: 200px;
  max-width: 80%;
  height: 40px;
  z-index: 5;
  padding-right: 40px;
  text-align: right;
}

ul.sharing li {
  display: inline;
}
</style>
