<nav id="polka-nav">
  <ul>
    <% entry.pages.displayed_in_navigation.each do |page| %>
      <li><a href="#<%= page.perma_id %>" data-page-id="<%= page.id %>"><span></span></a><div class="polka-tooltip"><%= page.configuration["title"] %></div></li>
    <% end %>
  </ul>
</div>

<script>
// Set class .page-invert on body if the active page has the class .invert
pageflow.Invert = {

  container: $('body'),

  changeInvert: function(page) {
    this.setInvert(page.element[0]);
  },

  setInvert: function(page_element) {
    $(page_element).hasClass('invert') ? this.container.addClass('page-invert') : this.container.removeClass('page-invert');
  },

  init: function() {

    // Set inverted class on first load
    this.setInvert(pageflow.atmo.slideshow.currentPage()[0]);

    // Listen to page changes
    pageflow.events.on('page:change', this.changeInvert.bind(this));

  }
}

pageflow.ready.then(function() {
  pageflow.Invert.init();
});
</script>

<script>
pageflow.Counter = {
  polkaNav: $('#polka-nav'),

  setActive: function(page) {
    this.polkaNav.find('a').removeClass('active');
    this.polkaNav.find('a[href="#'+page.id+'"]').addClass('active');
  },

  updateActive: function(page) {
    this.setActive(page.element[0]);
  },

  init: function() {
    // Init active dot
    this.setActive(pageflow.atmo.slideshow.currentPage()[0]);

    // Listen to page changes
    pageflow.events.on('page:change', this.updateActive.bind(this));

    // Set click handler
    $('a', this.polkaNav).on('click', this.onClick);
  },

  onClick(event) {
    event.preventDefault();

    var page_id = $(this).attr('data-page-id');

    pageflow.atmo.slideshow.goToById(page_id);
  }

}

pageflow.ready.then(function() {
  pageflow.Counter.init();
});
</script>
