// Base stylesheet for all Scrollytelling themes.

/*! system-font.css v1.1.0 | CC0-1.0 License | github.com/jonathantneal/system-font-face */
@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

// derived themes can override these variables.
$main-color: #c3e2dd !default;
$main-color-dark: darken($main-color, 30%) !default;
$anchor-color: $main-color !default;
$indicator-text-shadow-color: #3e3e3e !default;
$text-color: #e3e3e3 !default;
$text-invert-color: #090909 !default;
$body-font: system, sans-serif !default;
$title-font: system, sans-serif !default;
$desktop-margins: 200px 100px 70px 100px;
$mobile-margins: 30px 20px 16px 20px;
$font-size: 18px !default;

@import "bourbon";
@import "pageflow/mixins";
@import "pageflow/animations";
@import "pageflow/themes/default/definitions";
@import "pageflow/themes/default/player_controls";
@import "pageflow/themes/default/video_player";
@import "pageflow/themes/default/video_wrapper";
@import "pageflow/internal_links/themes/default";
@import "pageflow/internal_links/themes/default/list_as_multiple_choice";
@import "pageflow/external_links/themes/legacy";
@import "pageflow/embedded_video/themes/default";
@import "pageflow/linkmap_page/themes/default";
@import "pageflow/linkmap_page/themes/default/scroll_indicators";
@import "pageflow/chart/themes/default";
@import "./text_page_overrides";
@import "./external_links_page_overrides";
@import "./embedded_video_page_overrides";

.entry {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-family: $body-font;
	line-height: 1.6;
	font-size: $font-size;

	.contentText a {
		pointer-events: all;
		color: $text-color;

		&:hover {
			color: $anchor-color;
		}
	}

	.invert .contentText a {
		color: $text-invert-color;
	}
}

h2 {
	word-wrap: break-word;
	font-family: $title-font;
	font-size: $font-size;

	span {
		display: block;
		line-height: 1;
	}

	.tagline {
		font-size: 1.1em;
		font-weight: 300;
	}

	.title {
		font-size: 2.5em;
	}

	.subtitle {
		margin-top: 0.4em;
		font-size: 1.5em;
	}
}

section.delayed_text_fade_in_long,
section.delayed_text_fade_in_medium,
section.delayed_text_fade_in_short {
	.contentText,
	.page_header,
	.shadow_wrapper {
		opacity: 0;
	}
}

// required to start with .js because that's how Pageflow is styled.
.js .page {
	color: $text-color;

	&:first-child .contentWrapper:after {
		content: " ";
		position: absolute;
		top: 20px;
		left: 0;
		right: 0;
		width: 90%;
		height: 50px;
		margin-left: auto;
		margin-right: auto;
		background-image: image-url('scrollytelling/loading_spinner/logo.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	&.invert,
	&.invert.text_position_right {
		color: $text-invert-color;
		background-color: transparent;
	}

	.scroller > div {
		pointer-events: all;
		padding: $desktop-margins;
	}

	.embedded_video_page .scroller > div {
		padding-top: 100px;
	}
}

// When loaded - set bg to white
.slideshow .page.invert,
.slideshow .page.invert.text_position_right {
	background-color: #fff;
}

.slideshow section.fade.invert,
.slideshow section.fade.text_position_right.invert {
	background-color: transparent;
}

@include mobile {
	.js .page .scroller > div {
		padding: $mobile-margins;
	}

	.js .page:first-child .contentWrapper {
		margin-top: 50px;
	}

	.js .page:first-child .contentWrapper:after {
		height: 35px;
		max-width: 60%;
	}
}
