// Base stylesheet for all Scrollytelling themes.
$main-color: #c3e2dd !default;
$main-color-dark: darken($main-color, 30%) !default;
$anchor-color: $main-color !default;
$indicator-text-shadow-color: 3e3e3e !default;
$text-color: white;
$text-invert-color: #333;

@import "bourbon";
@import "pageflow/mixins";
@import "pageflow/animations";

@import "pageflow/themes/default/definitions";
@import "pageflow/themes/default/player_controls";
@import "pageflow/themes/default/video_player";
@import "pageflow/themes/default/video_wrapper";

@import "pageflow/internal_links/themes/default";
@import "pageflow/internal_links/themes/default/list_as_multiple_choice";
@import "pageflow/external_links/themes/legacy";
@import "pageflow/embedded_video/themes/default";
@import "pageflow/linkmap_page/themes/default";
@import "pageflow/linkmap_page/themes/default/scroll_indicators";

#outer_wrapper {
  font-family: sans-serif;
  line-height: 1.6;
}

.content {
  color: $text-color;
}

.invert .content {
  color: $text-invert-color;
}

.contentText a {
  pointer-events: all;
  color: $text-color;

  &:hover {
    color: $anchor-color;
  }
}

.invert .contentText a {
  color: $text-invert-color;
}

h2 {
  @include mobile {
    font-size: 16px;
  }

  span {
    display: block;
    line-height: 1;
  }

  .tagline {
    font-size: 1.1em;
    font-weight: 300;
  }

  .title {
    font-size: 2.5em;
  }

  .subtitle {
    margin-top: .4em;
    font-size: 1.5em;
  }
}

section.delayed_text_fade_in_long,
section.delayed_text_fade_in_medium,
section.delayed_text_fade_in_short {
  .page_header,
  .shadow_wrapper,
  .contentText {
    opacity: 0;
  }
}

@include desktop {
  .page_header,
  .contextText {
    width: 45%;
  }
}

.js {
  .page:first-child .content_and_background .scroller > div:after {
    content: " ";
    position: absolute;
    top: 3%;
    left: 0;
    right: 0;
    width: 90%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-image: image-url('scrollytelling/loading_spinner/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include mobile {
      left: 8%;
      right: auto;
      height: 35px;
      max-width: 70%;
      background-position: left;
    }
  }

  // we feel the standard page width is too wide
  .page .scroller > div {
    padding: 15% 8% 5% 8%;
  }

  .page.is_near_top .scroller > div {
    padding-top: 30%;
  }
}

// Set initial state of hidden
.entry .page.invert,
.entry .page.invert.text_position_right {
    background-color: transparent;
}

// When loaded - set bg to white
.slideshow .page.invert, .slideshow .page.invert.text_position_right {
    background-color: #fff;
}

.slideshow section.fade.text_position_right.invert,
.slideshow section.fade.invert {
    background-color: transparent;
}
