// Base stylesheet for all Scrollytelling themes.
$main-color: #e84d2c !default;
$main-color-dark: #b14a08 !default;

@import "bourbon";
@import "pageflow/mixins";
@import "pageflow/animations";

@import "pageflow/internal_links/themes/default";
@import "pageflow/internal_links/themes/default/list_as_multiple_choice";
@import "pageflow/external_links/themes/legacy";
@import "pageflow/embedded_video/themes/default";
@import "pageflow/linkmap_page/themes/default";
@import "pageflow/linkmap_page/themes/default/scroll_indicators";

#outer_wrapper {
  font-family: sans-serif;
  line-height: 1.6;
}

.content {
  color: white;
}

.invert .content {
  color: #333;
}

h2 {
  @include mobile {
    font-size: 16px;
  }

  span {
    display: block;
    line-height: 1;
  }

  .tagline {
    font-size: 1.1em;
    font-weight: 300;
  }

  .title {
    font-size: 3.5em;
  }

  .subtitle {
    margin-top: .4em;
    font-size: 1.5em;
  }
}

section.delayed_text_fade_in_long,
section.delayed_text_fade_in_medium,
section.delayed_text_fade_in_short {
  .page_header,
  .shadow_wrapper,
  .contentText {
    opacity: 0;
  }
}

.js {
  .page:first-child .content_and_background .scroller > div:after {
    content: " ";
    position: absolute;
    top: 2%;
    left: 0;
    right: 0;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-image: image-url('scrollytelling/loading_spinner/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include mobile {
      top: 20px;
      left: 16px;
      right: auto;
      margin-left: auto;
      margin-right: auto;
      height: 35px;
    }
  }

  // we feel the standard page width is too wide
  .page .scroller > div {
    padding: 15% 8% 5% 8%;
  }

  .vjs-loading-spinner,
  .vjs-control-bar:before {
    display: none !important;
  }

  .vjs-default-skin .vjs-control:focus:before,
  .vjs-default-skin .vjs-control:hover:before {
    text-shadow: none;
    color: $main-color;
  }

  .vjs-progress-control .vjs-play-progress,
  .vjs-progress-control.vjs-fade-out .vjs-play-progres {
    background-color: $main-color;
  }

  .vjs-play-control {
    background-image: none;

    &:before {
      color: white;
      content: "\f144";
      font-family: "FontAwesome";
    }
  }

  .vjs-pause-control {
    background-image: none;

    &:before {
      color: white;
      content: "\f28b";
      font-family: "FontAwesome";
    }
  }

  // transparent video controls please
  .vjs-control-bar {
    background-color: transparent;
  	border: 0;
  }

  .vjs-slider-handle {
    display: none;
  }

  // https://github.com/codevise/pageflow/issues/413
  .videoWrapper {
    margin-right: 0 !important;
  }
}

// Set initial state of hidden
.entry .page.invert,
.entry .page.invert.text_position_right {
    background-color: transparent;
}

// When loaded - set bg to white
.slideshow .page.invert, .slideshow .page.invert.text_position_right {
    background-color: #fff;
}

.slideshow section.fade.text_position_right.invert,
.slideshow section.fade.invert {
    background-color: transparent;
}
