// Base stylesheet for all Scrollytelling themes.

@import "themes/fonts";

// COLORS
$color-scrolly-mintgreen: #c3e2dd;
$color-scrolly-black: #090909;
$text-color: #e3e3e3 !default;
// MARGINS
$desktop-margins: 200px 100px 70px 100px;
$mobile-margins: 30px 20px 16px 20px;

// derived themes can override these variables.
$main-color: $color-scrolly-mintgreen !default;
$main-color-dark: darken($main-color, 30%) !default;
$anchor-color: $main-color !default;
$indicator-text-shadow-color: #3e3e3e !default;
$page-shadow-color: $text-color !default;
$page-shadow-inverted-color: $color-scrolly-black !default;
$text-invert-color: $color-scrolly-black !default;
$body-font: system, sans-serif !default;
$title-font: system, sans-serif !default;
$font-size: 18px !default;

/* Load Pageflow defaults */
@import "pageflow/themes/default/base";
@import "pageflow/embedded_video/themes/default";

/* Pageflow plugins */
@import "pageflow/internal_links/themes/default";
@import "pageflow/internal_links/themes/default/list_as_multiple_choice";
@import "pageflow/external_links/themes/default";
@import "pageflow/linkmap_page/themes/default";
@import "pageflow/linkmap_page/themes/default/scroll_indicators";

/* Destroy some stuff that comes with Pageflow */
@import "themes/logo_overrides";
@import "themes/default_page_overrides";
@import "themes/text_page_overrides";
@import "themes/external_links_page_overrides";
@import "themes/embedded_video_page_overrides";

body {
	background-color: $color-scrolly-black;
}

h1, h2, h3, h4, p, li, span, td, a, label, select, input, textarea, button, :after {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.entry {
	font-family: $body-font;
	line-height: 1.6;
	font-size: $font-size;

	.contentText a {
		pointer-events: all;
		color: $text-color;

		&:hover {
			color: $anchor-color;
		}
	}

	.invert .contentText a {
		color: $text-invert-color;
	}
}

h2 {
	word-wrap: break-word;
	font-family: $title-font;
	font-size: $font-size;

	span {
		display: block;
		line-height: 1;
	}

	.tagline {
		font-size: 1.1em;
		font-weight: 300;
	}

	.title {
		font-size: 2.5em;
	}

	.subtitle {
		margin-top: 0.4em;
		font-size: 1.5em;
	}
}

section.delayed_text_fade_in_long,
section.delayed_text_fade_in_medium,
section.delayed_text_fade_in_short {
	.contentText,
	.page_header,
	.shadow_wrapper {
		opacity: 0;
	}
}

// When loaded - set bg to white
.slideshow .page.invert,
.slideshow .page.invert.text_position_right {
	background-color: #fff;
}

.slideshow section.fade.invert,
.slideshow section.fade.text_position_right.invert {
	background-color: transparent;
}

@include mobile {
	.js .page .scroller > div {
		padding: $mobile-margins;
	}

	.js .page:first-child .content_and_background .scroller {
		padding-top: 50px;  // because the logo takes up space
	}

	.js .page:first-child .content_and_background .scroller:after {
		height: 35px;
		max-width: 60%;
	}
}
