@import url(https://fonts.googleapis.com/css?family=Lato|Merriweather);

$main-color: #0072bf;
$title-font: 'Merriweather', serif;

@import "./base.scss";

#outer_wrapper {
  line-height: 1.5;
}

.loader_logo {
  background-image: image-url("pageflow/themes/alab/logo.png");
}

@include logo {
  background-image: image-url("pageflow/themes/alab/logo.png");
}
