@font-face {
    font-family: 'TheSans';
    src: font-url('pageflow/themes/anwb/TheSansC4s-Bold.woff2') format('woff2'),
         font-url('pageflow/themes/anwb/TheSansC4s-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TheSans';
    src: font-url('pageflow/themes/anwb/TheSansC4s-BoldItalic.woff2') format('woff2'),
         font-url('pageflow/themes/anwb/TheSansC4s-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TheSans';
    src: font-url('pageflow/themes/anwb/TheSansC4s-SemiBoldItalic.woff2') format('woff2'),
         font-url('pageflow/themes/anwb/TheSansC4s-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

// variables
$main-color: #003c85;
$title-font: 'TheSans', system;
$body-font: Verdana, Arial, sans-serif;

// import base stylesheet
@import "base";

// custom styles
.entry {
  // font-family: Calibri, 'PT Sans', system, sans-serif;

  p {
    line-height: 1.4;
  }

  span.title {
    font-style: italic;
    line-height: 1.1;
  }

  span.subtitle {
    line-height: 1.4;
  }

  span.tagline {
    line-height: 1.3
  }
}

.loader_logo {
  background-image: image-url("pageflow/themes/anwb/ANWB.png");
}

@include logo {
  height: 50px;
  background-image: image-url("pageflow/themes/anwb/ANWB.png");
}

// Override indicators
.entry .indicator,
ul.scrollytelling-home_button {
  font-family: $title-font;
  text-transform: none;
}
