@font-face {
    font-family: 'Akzidenz Grotesk Light';
    font-display: swap;
    src: font-url('pageflow/themes/beeldengeluid/AkzidenzGrotesk-Light.woff') format('woff');
}

@font-face {
    font-family: 'Akzidenz Grotesk Condensed';
    font-display: swap;
    src: font-url('pageflow/themes/beeldengeluid/AkzidenzGrotesk-Condensed.woff') format('woff');
}

@font-face {
    font-family: 'Chevin Medium Italic';
    font-display: swap;
    src: font-url('pageflow/themes/beeldengeluid/ChevinMedium-Italic.woff') format('woff');
}

$main-color: #df0b37;
$body-font: 'Akzidenz Grotesk Light', system, sans-serif;
$title-font: 'Akzidenz Grotesk Condensed', system, sans-serif;

@import "./base.scss";

h2 {
  &.tagline,
  &.subtitle {
    font-family: 'Chevin Medium Italic', system, sans-serif;
  }
}

.loader_logo,
.js .page:first-child .contentWrapper:after {
  background-image: image-url("pageflow/themes/beeldengeluid/logo.png");
}
