@font-face {
    font-family: 'pmn_caecilia85_heavy';
    src: font-url('pageflow/themes/blof/caecilia-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'p85Hvsmallcapsoldstylefigures';
    src: font-url('pageflow/themes/blof/caecilia-heavysc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$main-color: #3f97aa;
$body-font: 'Imprima', system, sans-serif;
$title-font: 'pmn_caecilia85_heavy', system, sans-serif;

@import "./base.scss";

h2 {
  &.tagline,
  &.subtitle {
    font-family: 'p85Hvsmallcapsoldstylefigures', system, sans-serif;
  }
}

.loader_logo,
.js .page:first-child .contentWrapper:after {
  background-image: image-url("pageflow/themes/blof/logo.png");
}
