@import url('https://fonts.googleapis.com/css?family=Pragati+Narrow');

$main-color: #d63926; // ffd122 lighter
$title-font: 'Pragati Narrow', system, sans-serif;

@import "./base.scss";

.loader_logo {
  background-image: image-url("pageflow/themes/concertatsea/logo.png");
}

@include logo {
  height: 100px;
  background-image: image-url("pageflow/themes/concertatsea/logo.png");
}

@include logo-invert {
  background-image: image-url("pageflow/themes/concertatsea/logo-black.png");
}

@include mobile {
  @include logo {
    top: 8px;
  }

  h2.tagline {
    font-size: 1.6em;
  }

  .js .page:first-child {
    h2 {
      padding-top: 3em;
    }
  }
}
