@import url('https://fonts.googleapis.com/css?family=Pragati+Narrow');

$main-color: #d63926; // ffd122 lighter
$title-font: 'Pragati Narrow', system, sans-serif;

@import "./base.scss";

.loader_logo,
.js .page:first-child .contentWrapper:after {
  height: 100px;
  background-image: image-url("pageflow/themes/concertatsea/logo.png");
}

.js .page.invert:first-child .contentWrapper:after {
  height: 100px;
  background-image: image-url("pageflow/themes/concertatsea/logo-black.png");
}

@include mobile {
  h2.tagline {
    font-size: 1.6em;
  }

  .js .page:first-child {
    h2 {
      padding-top: 3em;
    }
    .contentWrapper:after {
      top: 8px;
    }
  }
}
