// import or declare fonts
// @import "https://fonts.googleapis.com/css?family=PT+Sans";

// variables
$main-color: #133472;
// $title-font: 'Nexa Bold', system, sans-serif;
// $body-font: 'Calibri Light', system, sans-serif;

// import base stylesheet
@import "base";

// custom styles
.entry {
  // font-family: Calibri, 'PT Sans', system, sans-serif;

  h2 {
    // font-family: serif;
  }

  p {
  }

  span.title {
    // font-weight: bold;
  }

  span.subtitle {
    // text-transform: uppercase;
  }

  span.tagline {
    // text-transform: uppercase;
  }
}

.loader_logo {
  // background-image: image-url("pageflow/themes/default/logo.png");
}

@include logo {
  // height: 100px;
  // background-image: image-url("pageflow/themes/default/logo.png");
}

@include logo-invert {
  // background-image: image-url("pageflow/themes/default/logo-black.png");
}
