// import or declare fonts
// @import url('https://fonts.googleapis.com/css?family=PT+Sans');

// variables
$main-color: #133472;

// import base stylesheet
@import "./base.scss";

// custom styles
.entry {
  // font-family: Calibri, 'PT Sans', system, sans-serif;

  h2 {
    // font-family: serif;
  }

  p {
  }

  span.title {
    // font-weight: bold;
  }

  span.subtitle {
    // text-transform: uppercase;
  }

  span.tagline {
    // text-transform: uppercase;
  }
}

.loader_logo,
.js .page:first-child .contentWrapper:after {
  // height: 100px;
  // background-image: image-url("pageflow/themes/default/logo.png");
}

.js .page.invert:first-child .contentWrapper:after {
  // height: 100px;
  // background-image: image-url("pageflow/themes/default/logo-black.png");
}
