@font-face {
    font-family: 'Maxeville Constructed';
    src:  font-url('pageflow/themes/destijl/SMMaxeville-Constructed.woff2') format('woff2'),
          font-url('pageflow/themes/destijl/SMMaxeville-Constructed.woff') format('woff');
}

@font-face {
    font-family: 'Maxeville Regular';
    src:  font-url('pageflow/themes/destijl/SMMaxeville-Regular.woff2') format('woff2'),
          font-url('pageflow/themes/destijl/SMMaxeville-Regular.woff') format('woff');
}

$main-color: #ff0000;
$text-color: #ffffff;
$text-invert-color: #000000;
$body-font: 'Maxeville Regular', system, sans-serif;
$title-font: 'Maxeville Constructed', system, sans-serif;

@import "./base.scss";

.scrollytelling-pageflow-navigation-tooltip {
  font-family: $body-font;
}

.entry {
  font-family: $body-font;

  .indicator {
    font-family: $body-font;
    font-size: 11px;
    letter-spacing: 2px;

    @include desktop {
      font-size: 14px;
    }
  }

  h2 {
    font-family: $title-font;
    font-weight: normal;
  }

  p {
    font-size: 22px;
    line-height: 30px;
  }

  span.title {
    font-size: 38px;

    @include desktop {
      font-size: 70px;
    }
  }

  span.subtitle {
  }

  span.tagline {
  }
}

.loader_logo,
.js .page:first-child .contentWrapper:after {
  background-image: none;
}

.js .page.invert:first-child .contentWrapper:after {
  background-image: none;
}
