@font-face {
    font-family: 'Maxeville Constructed';
    src:  font-url('pageflow/themes/destijl/SMMaxeville-Constructed.woff2') format('woff2'),
          font-url('pageflow/themes/destijl/SMMaxeville-Constructed.woff') format('woff');
}

@font-face {
    font-family: 'Maxeville Regular';
    src:  font-url('pageflow/themes/destijl/SMMaxeville-Regular.woff2') format('woff2'),
          font-url('pageflow/themes/destijl/SMMaxeville-Regular.woff') format('woff');
}

$main-color: #ff0000;
$text-color: #ffffff;
$text-invert-color: #000000;
$body-font: 'Maxeville Regular', system, sans-serif;
$title-font: 'Maxeville Constructed', system, sans-serif;

@import "./base.scss";

.scrollytelling-pageflow-navigation-tooltip {
  font-family: $body-font;
}

ul.scrollytelling-home_button {
  font-family: $body-font;

  font-size: 11px;
  letter-spacing: 2px;

  @include desktop {
    font-size: 14px;
  }
}

.entry {
  font-family: $body-font;

  .indicator {
    font-family: $body-font;
    font-size: 11px;
    letter-spacing: 2px;

    @include desktop {
      font-size: 14px;
    }
  }

  h2 {
    font-family: $title-font;
    font-weight: normal;
  }

  p {
    font-size: 20px;
    line-height: 26px;
  }

  span.title {
    font-size: 30px;

    @include desktop {
      font-size: 60px;
    }
  }

  span.subtitle,
  span.tagline {
    font-size: 1.1em;
		font-weight: 300;
  }
}

section[id="8685"] .contentText p,
section[id="7758"] .contentText p,
section[id="8605"] .contentText p,
section[id="8612"] .contentText p,
section[id="8615"] .contentText p,
section[id="8655"] .contentText p,
section[id="8657"] .contentText p,
section[id="8659"] .contentText p,
section[id="8661"] .contentText p,
section[id="8663"] .contentText p,
section[id="8665"] .contentText p,
section[id="8667"] .contentText p,
section[id="8669"] .contentText p,
section[id="8671"] .contentText p,
section[id="8673"] .contentText p,
section[id="8675"] .contentText p,
section[id="8677"] .contentText p,
section[id="8679"] .contentText p,
section[id="9683"] .contentText p,
section[id="9685"] .contentText p,
section[id="9687"] .contentText p,
section[id="9691"] .contentText p,
section[id="9693"] .contentText p,
section[id="9697"] .contentText p,
section[id="9699"] .contentText p,
section[id="9701"] .contentText p {
  margin-top: 20em;
  margin-bottom: 3em;

  @include desktop {
    margin-top: 25em;
  }
}

// this text is unreadable because of a very wild background.
// we're giving the text itself a background.
@include mobile {
  section[id="8685"] .contentText p {
    color: black;
    background-color: #e2e2e2;
    padding: 4px 8px;
    font-style: normal;
  }
}

.loader_logo,
.js .page:first-child .contentWrapper:after {
  background-image: none;
}

.js .page.invert:first-child .contentWrapper:after {
  background-image: none;
}
