$main-color: #ff0000;
$text-color: #ffffff;
$text-invert-color: #000000;

@font-face {
    font-family: 'Maxeville Constructed';
    src:  font-url('pageflow/themes/destijl/SMMaxeville-Constructed.woff2') format('woff2'),
          font-url('pageflow/themes/destijl/SMMaxeville-Constructed.woff') format('woff');
}

@font-face {
    font-family: 'Maxeville Regular';
    src:  font-url('pageflow/themes/destijl/SMMaxeville-Regular.woff2') format('woff2'),
          font-url('pageflow/themes/destijl/SMMaxeville-Regular.woff') format('woff');
}

@import "./base.scss";

.entry {
  font-family: 'Maxeville Regular', sans-serif;

  .indicator {
    font-family: 'Maxeville Constructed', serif;
    font-size: 14px;
  }

  h2 {
    font-family: 'Maxeville Constructed', serif;
    font-weight: normal;
  }

  p {
    font-size: 22px;
    line-height: 30px;
  }

  span.title {
    font-size: 70px;
    line-height: 70px;
  }

  span.subtitle {
  }

  span.tagline {
  }
}

.loader_logo,
.js .page:first-child .contentWrapper:after {
  background-image: none;
}

.js .page.invert:first-child .contentWrapper:after {
  background-image: none;
}
