$main-color: #d10099;

@font-face {
    font-family: 'Druk Medium';
    src: font-url('pageflow/themes/ed/Druk-Medium-Web.woff') format('woff');
}

@import "./base.scss";

#outer_wrapper {
  font-family: sans-serif;
  color: #d2d2d2;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: #d2d2d2;
}

h2 {
  color: #d2d2d2;
  font-family: 'Druk Medium', serif;
  text-transform: uppercase;
  line-height: .9;

  .title {
    font-size: 100px;
    @include mobile {
      font-size: 70px;
    }
  }

  .subtitle {
    font-size: 80px;
    margin: 0;
    @include mobile {
      font-size: 50px;
    }
  }
}

.loader_logo,
.js .page:first-child .contentWrapper:after {
  height: 90px;
  background-position: center -15px;
  background-image: image-url("pageflow/themes/ed/logo.png");
}

.js .page.invert:first-child .contentWrapper:after {
  background-image: image-url("pageflow/themes/ed/logo.png");
}
