@import url(https://fonts.googleapis.com/css?family=Karla);

@font-face {
    font-family: 'Neue Droschke';
    font-display: swap;
    src: font-url('pageflow/themes/grasnapolsky/neue_droschke-webfont.woff') format('woff');
}

$main-color: #ff33c8;
$body-font: 'Karla', system, sans-serif;
$title-font: 'Neue Droschke', serif;

@import "./base.scss";

.contentText {
  font-size: 1.3em;
}

.loader_logo {
  background-image: image-url("pageflow/themes/grasnapolsky/logo.png");
}

.js .page:first-child .contentWrapper:after {
  background-image: image-url("pageflow/themes/grasnapolsky/logo_header.png");
}

.invert .js .page:first-child .contentWrapper:after {
  background-image: image-url("pageflow/themes/grasnapolsky/logo_header_invert.png");
}
