@import "https://fonts.googleapis.com/css?family=Amiri|Inknut+Antiqua";

// variables
$light-lavendar: #ffaeff;
$aquamarine: #00cecb;
$green-blue: #06a77d;
$dark-beige: #b2945b;
$pale-olive-green: #b6d369;
$dull-yellow: #e8d33f;
$jungle-green: #00845b;
$pastel-orange: #ff9062;

$main-color: $aquamarine;
$title-font: 'Inknut Antiqua', serif;
$body-font: 'Amiri', serif;

// import base stylesheet
@import "base";

.scrollytelling-navigation-tooltip {
  font-family: $body-font;
  font-size: 14px;
}

#scrollytelling-navigation a span {
  background: $aquamarine;
}

ul.scrollytelling-sharing {
  display: none;
}

.entry .indicator,
ul.scrollytelling-home_button {
  font-family: $body-font;
  font-size: 16px;
  letter-spacing: 3px;
}

// custom styles
.entry {
  // font-family: Calibri, 'PT Sans', system, sans-serif;

  h2 {
    // font-family: serif;
  }

  p {
    font-size: 22px;
    line-height: 1.27;
    letter-spacing: 1px;
  }

  span.title {
    font-size: 50px;
    line-height: 1.16;
    letter-spacing: 3px;
  }

  span.subtitle {
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 1.5px;
  }

  span.tagline {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 1.5px;
  }
}

.loader_logo {
  background-image: none; // handled in closewindow
}

@include logo {
  background-image: none; // handled in closewindow
}

@include logo-invert {
  background-image: none; // handled in closewindow
}
