$main-color: #133472;

// @import url('https://fonts.googleapis.com/css?family=PT+Sans');

@import "./base.scss";

.entry {
  // font-family: Calibri, 'PT Sans', system, sans-serif;

  h2 {
    // font-family: serif;
  }

  p {
  }

  span.title {
    // font-weight: bold;
  }

  span.subtitle {
    // text-transform: uppercase;
  }

  span.tagline {
    // text-transform: uppercase;
  }
}

.loader_logo {
  // background-image: image-url("pageflow/themes/default/logo.png");
}

@include logo {
  // height: 100px;
  // background-image: image-url("pageflow/themes/default/logo.png");
}

@include logo-invert {
  // background-image: image-url("pageflow/themes/default/logo-black.png");
}
