$main-color: #0079c6;

@import "./base.scss";

.loader_logo {
  background-image: image-url("pageflow/themes/humanrightswatch/logo.png");
}

@include logo {
  background-image: image-url("pageflow/themes/humanrightswatch/logo.png");
}
