@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

$main-color: #333333;
$title-font: 'Raleway', sans-serif;

@import "./base.scss";

#outer_wrapper {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1px;
}

h2 {
  font-weight: 600;

  .title {
    text-transform: uppercase;
    font-size: 100px;
  }

  .subtitle {
    text-transform: uppercase;
    font-size: 60px;
    margin: 0;
  }

  .tagline {
    font-size: 20px;
    line-height: 1.5;
  }
}

.loader_logo,
.js .page:first-child .contentWrapper:after {
  height: 90px;
  background-image: image-url("pageflow/themes/krisberry/logo.png");
}

.js .page.invert:first-child .contentWrapper:after {
  background-image: image-url("pageflow/themes/krisberry/logo.png");
}

@include mobile {
	.js .page:first-child .contentWrapper {
		margin-top: 90px;
	}
}
