@import url('https://fonts.googleapis.com/css?family=PT+Sans');

$main-color: #ca3249; // e498a4 lighter // f4d6db lightest
$body-font: Calibri, 'PT Sans', sans-serif;

@import "./base.scss";

.entry {
  font-size: 18px;

  h2 {
    span.title {
      font-weight: bold;
    }

    span.subtitle {
      text-transform: uppercase;
    }

    span.tagline {
      text-transform: uppercase;
    }
  }

  p {
    line-height: 1.7;
  }
}

.loader_logo,
.js .page:first-child .contentWrapper:after {
  height: 100px;
  background-image: image-url("pageflow/themes/meerveerkracht/logo.png");
}

.js .page.invert:first-child .contentWrapper:after {
  height: 100px;
  background-image: image-url("pageflow/themes/meerveerkracht/logo-black.png");
}
