@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@font-face {
    font-family: 'Calibri';
    src: font-url('pageflow/themes/meerveerkracht/Calibri.woff2') format('woff2'),
         font-url('pageflow/themes/meerveerkracht/Calibri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: font-url('pageflow/themes/meerveerkracht/CALIBRIB.woff2') format('woff2'),
         font-url('pageflow/themes/meerveerkracht/CALIBRIB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

$main-color: #ca3249; // e498a4 lighter // f4d6db lightest
$body-font: Calibri, 'PT Sans', sans-serif;

@import "./base.scss";

.entry {
  font-size: 22px;

  h2 {
    span.title {
      font-weight: bold;
    }

    span.subtitle {
      text-transform: uppercase;
    }

    span.tagline {
      text-transform: uppercase;
    }
  }

  p {
    line-height: 1.7;
  }
}

.js .page:first-child .contentWrapper {
	@include mobile {
		padding-top: 80px; //as the logo is quite tall
	}
}

.loader_logo,
.js .page:first-child .contentWrapper:after {
  height: 100px;
  background-image: image-url("pageflow/themes/meerveerkracht/meer-veerkracht-langer-thuis-wit.svg");

  @include mobile {
    height: 60px;
  }
}

.js .page.invert:first-child .contentWrapper:after {
  height: 100px;
  background-image: image-url("pageflow/themes/meerveerkracht/meer-veerkracht-langer-thuis-zwart.svg");
}
