@import url(https://fonts.googleapis.com/css?family=Karla|Merriweather);

$main-color: #0072bf;
$body-font: 'Karla', sans-serif;
$title-font: 'Merriweather', serif;

@import "./base.scss";

#outer_wrapper {
  line-height: 1.5;
  font-weight: bold;
}

h2 {
  span.title {
    font-size: 2.3em;
  }

  span.title,
  span.subtitle {
    line-height: 1.4;
  }
}

p {
  font-size: 18px;
}

.loader_logo {
  background-image: image-url("pageflow/themes/nieuwsuur/logo.png");
}

@include logo {
  background-image: image-url("pageflow/themes/nieuwsuur/logo.png");
}
