$main-color: #0072bf;

@import url(https://fonts.googleapis.com/css?family=Karla|Merriweather);

@import "./base.scss";

#outer_wrapper {
  font-family: 'Karla', sans-serif;
  line-height: 1.5;
  font-weight: bold;
}

h2 {
  font-family: 'Merriweather', serif;

  span.title,
  span.subtitle {
    line-height: 1.4;
  }
}

p {
  font-size: 18px;
}

.loader_logo,
.js .page:first-child .contentWrapper:after {
  background-image: image-url("pageflow/themes/nieuwsuur/logo.png");
}

.js .page.invert:first-child .contentWrapper:after {
  background-image: image-url("pageflow/themes/nieuwsuur/logo.png");
}
