$main-color: #cf282c;

@import "./base.scss";

.loader_logo {
  background-image: image-url("pageflow/themes/nos/NOS-wit-rood.svg");
}

@include logo {
  background-image: image-url("pageflow/themes/nos/NOS-wit-rood.svg");
}

@include logo-invert {
  background-image: image-url("pageflow/themes/nos/NOS-zilver-rood.svg");
}
