$main-color: #ff8200; // ff8200 is omroep brabant orange

// @import url('https://fonts.googleapis.com/css?family=PT+Sans');

@import "./base.scss";

.entry {
  // font-family: Calibri, 'PT Sans', system, sans-serif;

  h2 {
    // font-family: serif;
  }

  p {
  }

  span.title {
    // font-weight: bold;
  }

  span.subtitle {
    // text-transform: uppercase;
  }

  span.tagline {
    // text-transform: uppercase;
  }
}

.loader_logo,
.js .page:first-child .contentWrapper:after {
  // height: 100px;
  background-image: image-url("pageflow/themes/omroepbrabant/logo.png");
}

.js .page.invert:first-child .contentWrapper:after {
  // height: 100px;
  background-image: image-url("pageflow/themes/omroepbrabant/logo.png");
}
