$main-color: #e64f1a;

@import "./base.scss";

.entry {
  h2 {
  }

  p {
  }

  span.title {
  }

  span.subtitle {
  }

  span.tagline {
  }
}

.loader_logo,
.js .page:first-child .contentWrapper:after {
  // height: 100px;
  background-image: image-url("pageflow/themes/paxforpeace/logo.png");
}

.js .page.invert:first-child .contentWrapper:after {
  // height: 100px;
  background-image: none;
}
