$main-color: #e64f1a;

@import "base";

.entry {
  h2 {
  }

  p {
  }

  span.title {
  }

  span.subtitle {
  }

  span.tagline {
  }
}

.loader_logo {
  background-image: image-url("pageflow/themes/paxforpeace/logo.png");
}

@include logo {
  background-image: image-url("pageflow/themes/paxforpeace/logo.png");
}
