@font-face {
    font-family: 'Klavika Medium Condensed';
    font-display: swap;
    src: font-url('pageflow/themes/psv/KlavikaWebMediumCondensed.woff') format('woff');
}

$main-color: #ed1c24;
$title-font: 'Klavika Medium Condensed', system, sans-serif;

@import "base";

.loader_logo {
  background-image: image-url("pageflow/themes/psv/logo.png");
}

@include logo {
  background-image: image-url("pageflow/themes/psv/logo_header.png");
}
