$main-color: #133472;

@import "./base.scss";

.loader_logo {
  background-image: image-url("pageflow/themes/radio1/logo.png");
}

@include logo {
  background-image: image-url("pageflow/themes/radio1/logo.png");
}
