@import "https://fonts.googleapis.com/css?family=Amiri";

@font-face {
	font-family: "Bagnard";
	font-style: normal;
	font-weight: 300;
  font-display: swap;
  src:  font-url('pageflow/themes/refugee_gardens/Bagnard.woff2') format('woff2'),
        font-url('pageflow/themes/refugee_gardens/Bagnard.woff') format('woff');
}

$main-color: #133472;
$title-font: 'Bagnard', serif;
$body-font: 'Amiri', serif;

// @import "https://fonts.googleapis.com/css?family=PT+Sans";

@import "base";

.entry {
  // font-family: Calibri, 'PT Sans', system, sans-serif;

  h2 {
    // font-family: serif;
  }

  p {
  }

  span.title {
    // font-weight: bold;
  }

  span.subtitle {
    // text-transform: uppercase;
  }

  span.tagline {
    // text-transform: uppercase;
  }
}

.loader_logo {
	background-image: none;
}

@include logo {
	background-image: none;
}
