@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700";

$main-color: #0a9edf;
$body-font: 'Open Sans', sans-serif;

@import "base";

h2 {
  @include mobile {
    font-size: 13px;
  };

  .title {
    text-transform: uppercase;
  }
}

.loader_logo {
  background-image: image-url("pageflow/themes/ricostickstyphoon/logo.png");
}

@include logo {
  background-image: image-url("pageflow/themes/ricostickstyphoon/logo_header.png");
}
