$main-color: #0a9edf;

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';

@import "./base.scss";

h2 {
  font-family: 'Open Sans', sans-serif;

  .title {
    text-transform: uppercase;
  }
}

.loader_logo {
  background-image: image-url("pageflow/themes/ricostickstyphoon/logo.png");
}

.js .page:first-child .content_and_background .scroller > div:after {
  background-image: image-url("pageflow/themes/ricostickstyphoon/logo_header.png");
}
