$main-color: #0a9edf;

@import "./base.scss";

.loader_logo {
  background-image: image-url("pageflow/themes/ricostickstyphoon/logo.png");
}

.js .page:first-child .content_and_background .scroller > div:after {
  background-image: image-url("pageflow/themes/ricostickstyphoon/logo_header.png");
}
