$main-color: #133472;

@import 'https://fonts.googleapis.com/css?family=Bree+Serif|Imprima';

@import "./base.scss";

.entry {
  font-family: 'Imprima', sans-serif;

  h2 {
    font-family: 'Bree Serif', serif;
  }

  p {
    font-size: 1.3em;
  }
}

.loader_logo {
  background-image: image-url("pageflow/themes/scrollytelling/logo.png");
}

.js .page:first-child .contentWrapper:after {
  background-image: image-url("pageflow/themes/scrollytelling/logo_header.png");
}

.js .page.invert:first-child .contentWrapper:after {
  background-image: image-url("pageflow/themes/scrollytelling/logo_header_invert.png");
}
