@import "https://fonts.googleapis.com/css?family=Bree+Serif|Imprima";

$main-color: #133472;
$body-font: 'Imprima', system, sans-serif;
$title-font: 'Bree Serif', system, serif;

@import "base";

.entry {
  p {
    font-size: 1.3em;
  }
}

.loader_logo {
  background-image: image-url("pageflow/themes/scrollytelling/logo.png");
}

@include logo {
  background-image: image-url("pageflow/themes/scrollytelling/logo_header.png");
}

@include logo-invert {
  background-image: image-url("pageflow/themes/scrollytelling/logo_header_invert.png");
}
