$main-color: #415a4d;

@import url('https://fonts.googleapis.com/css?family=Karla');

@import "./base.scss";

#outer_wrapper,
h2 {
  font-family: 'Karla', sans-serif;
}

.loader_logo {
  background-image: image-url("pageflow/themes/stephaniestruijk/logo.png");
}

.js .page:first-child .contentWrapper:after {
  background-image: image-url("pageflow/themes/stephaniestruijk/logo_header.png");
}

.invert .js .page:first-child .contentWrapper:after {
  background-image: image-url("pageflow/themes/stephaniestruijk/logo_header_invert.png");
}
