@import url('https://fonts.googleapis.com/css?family=Karla');

$main-color: #415a4d;
$body-font: 'Karla', system, sans-serif;

@import "./base.scss";

.loader_logo {
  background-image: image-url("pageflow/themes/stephaniestruijk/logo.png");
}

.js .page:first-child .contentWrapper:after {
  background-image: image-url("pageflow/themes/stephaniestruijk/logo_header.png");
}

.invert .js .page:first-child .contentWrapper:after {
  background-image: image-url("pageflow/themes/stephaniestruijk/logo_header_invert.png");
}
