@import "https://fonts.googleapis.com/css?family=Karla";

$main-color: #415a4d;
$body-font: 'Karla', system, sans-serif;

@import "base";

.loader_logo {
  background-image: image-url("pageflow/themes/stephaniestruijk/logo.png");
}

@include logo {
  background-image: image-url("pageflow/themes/stephaniestruijk/logo_header.png");
}

@include logo-invert {
  background-image: image-url("pageflow/themes/stephaniestruijk/logo_header_invert.png");
}
