@font-face {
  font-family: 'Calibri Light';
  font-style: normal;
  font-weight: normal;
  src: font-url('pageflow/themes/uaf/calibril.woff') format('woff');
}

@font-face {
    font-family: 'Nexa Bold';
    src: font-url('pageflow/themes/uaf/nexa_bold-webfont.woff2') format('woff2'),
         font-url('pageflow/themes/uaf/nexa_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// variables
$main-color: #1f3779;
$title-font: 'Nexa Bold', system, sans-serif;
$body-font: 'Calibri Light', system, sans-serif;

// import base stylesheet
@import "./base.scss";

// custom styles
.entry {
  // font-family: Calibri, 'PT Sans', system, sans-serif;

  h2 {
    // font-family: serif;
  }

  p {
  }

  span.title {
    // font-weight: bold;
  }

  span.subtitle {
    // text-transform: uppercase;
  }

  span.tagline {
    // text-transform: uppercase;
  }
}

.loader_logo,
.js .page:first-child .contentWrapper:after {
  height: 100px;
  background-image: image-url("pageflow/themes/uaf/LogoUAF.svg");
}

.js .page.invert:first-child .contentWrapper:after {
  height: 100px;
  background-image: image-url("pageflow/themes/uaf/LogoUAF.svg");
}

@include mobile {
	.js .page:first-child .contentWrapper {
		padding-top: 90px;  // because the logo takes up space
	}
}
