@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

$main-color: #cf282c;
$body-font: Georgia, system, serif;
$title-font: 'Crimson Text', Georgia, serif;

@import "./base.scss";

#outer_wrapper {
  line-height: 1.7;
  font-size: 18px;
}

.loader_logo {
  background-image: image-url("pageflow/themes/volkskrant/loading.svg");
}

.js .page:first-child .contentWrapper:after {
  height: 45px;
  top: 15px;
  background-image: image-url("pageflow/themes/volkskrant/de-volkskrant-white.svg");
}

.js .page.invert:first-child .contentWrapper:after {
  height: 45px;
  top: 15px;
  background-image: image-url("pageflow/themes/volkskrant/de-volkskrant-black.svg");
}

@include mobile {
  .js .page:first-child .contentWrapper:after {
    background-image: image-url("pageflow/themes/volkskrant/V-white.svg");
  }

  .js .page.invert:first-child .contentWrapper:after {
    background-image: image-url("pageflow/themes/volkskrant/V-black.svg");
  }
}
