$main-color: #cf282c;

@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

@import "./base.scss";

#outer_wrapper {
  font-family: Georgia, serif;
  line-height: 1.7;
}

h2 {
  font-family: 'Crimson Text', Georgia, serif;
}

.loader_logo {
  background-image: image-url("pageflow/themes/volkskrant/logo.png");
}

.js .page:first-child .contentWrapper:after {
  height: 30px;
  background-image: image-url("pageflow/themes/volkskrant/logo.png");
}

.js .page.invert:first-child .contentWrapper:after {
  height: 30px;
  background-image: image-url("pageflow/themes/volkskrant/logo_header_invert.png");
}
