$main-color: #0051D0;

@import 'https://fonts.googleapis.com/css?family=Share:400,700';

@import "./base.scss";

#outer_wrapper,
#entry_preview {
  font-family: 'Share', sans-serif;
}

.contentText {
  font-size: 1.4em;
  line-height: 1.6;

  @include mobile {
    font-size: 1em;
  }
}

.loader_logo,
.js .page:first-child .contentWrapper:after {
  background-image: none;
}
