@import "https://fonts.googleapis.com/css?family=Share:400,700";

$main-color: #0051D0;
$body-font: 'Share', system, sans-serif;

@import "base";

.contentText {
  font-size: 1.4em;
  line-height: 1.6;

  @include mobile {
    font-size: 1em;
  }
}

.loader_logo {
  background-image: none;
}

@include logo {
  background-image: none;
}
