@font-face {
    font-family: 'akkuratregular';
    font-display: swap;
    src: font-url('pageflow/themes/worldpressphoto/akkurat_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$main-color: #cb0936;
$title-font: 'akkuratregular', system, sans-serif;

@import "base";

.loader_logo {
  background-image: image-url("pageflow/themes/worldpressphoto/logo.png");
}

@include logo {
  background-image: image-url("pageflow/themes/worldpressphoto/logo_header.png");
}
