// @import url('https://fonts.googleapis.com/css?family=PT+Sans');

$main-color: #133472;

@import "./base.scss";

.entry {
  h2 {
  }

  p {
    font-size: 20px;
  }

  span.title {
    // font-weight: bold;
  }

  span.subtitle {
    line-height: 1.4;
  }

  span.tagline {
    // text-transform: uppercase;
  }
}

.loader_logo {
  height: 100px;
  background-image: image-url("pageflow/themes/yip/logo.png");
}

.js .page:first-child .contentWrapper:after {
  height: 80px;
  background-image: image-url("pageflow/themes/yip/logo.png");
}

.js .page.invert:first-child .contentWrapper:after {
  height: 80px;
  background-image: image-url("pageflow/themes/yip/logo-black.png");
}

@include mobile {
  .js .page:first-child .contentWrapper {
    padding-top: 80px;
  }
}
