// @import url('https://fonts.googleapis.com/css?family=PT+Sans');

$main-color: #133472;

@import "./base.scss";

.entry {
  h2 {
  }

  p {
  }

  span.title {
    // font-weight: bold;
  }

  span.subtitle {
    // text-transform: uppercase;
  }

  span.tagline {
    // text-transform: uppercase;
  }
}

.loader_logo,
.js .page:first-child .contentWrapper:after {
  // height: 100px;
  background-image: image-url("pageflow/themes/yip/logo.png");
}

.js .page.invert:first-child .contentWrapper:after {
  // height: 100px;
  background-image: image-url("pageflow/themes/yip/logo-black.png");
}
