@font-face {
    font-family: "Boton";
    src: font-url('pageflow/themes/#{$theme-name}/boton-400-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Boton";
    src: font-url('pageflow/themes/#{$theme-name}/boton-400italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Boton";
    src: font-url('pageflow/themes/#{$theme-name}/boton-500-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Boton";
    src: font-url('pageflow/themes/#{$theme-name}/boton-500italic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Boton";
    src: font-url('pageflow/themes/#{$theme-name}/boton-700-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Boton";
    src: font-url('pageflow/themes/#{$theme-name}/boton-700italic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
