<div data-widget="closewindow" class="closewindow-widget">
  <a
    class="closewindow-home"
    rel="home"
    title="Home"
    href="<%= entry.home_button.url_value %>">
    <span></span>
    <span></span>
  </a>
</div>
