$main-color: #009fda;
$main-color-dark: #e00034;

$focus-color: #c1c1c1;

$anchor-color: #e84d2c;

$basic-background-color: #353535;
$basic-background-color-transparent: rgba(53, 53, 53, 0.9);
$header-background-color: gray;

$addInfobox-text-color: #fff; /* for the description text inside the info box */
$addInfobox-controls-text-color: #ccc; /* for control text like durations */
$addInfobox-background-color: #191919;
$addInfobox-border-color: #505050;

$header-font: 'akkuratregular', sans-serif;
$subheader-font: 'akkuratregular', sans-serif;
$standard-font: sans-serif;
$standard-font-size: 16px;
