@import "pageflow/base";
@import "pageflow/before_after";
@import "pageflow/text_page";
@import "pageflow/embedded_video";
@import "pageflow/internal_links";
@import "pageflow/external_links";
@import "pageflow/linkmap_page";
@import "scrollytelling/loading_spinner";
@import "scrollytelling/pageflow/navigation";

/* Override text_page */
.page_spacer {
  display: none !important;
}

.recompile {
  display: block;
}
