@import "pageflow/editor/base";
@import "pageflow/embedded_video/editor";
@import "pageflow/internal_links/editor";

.blank_entry h2:before {
  background-image: asset-url("logo60x60@2x.png");
  background-size: 60px;
}
