@import "pageflow/editor/base";

/* pageflow plugins */
@import "pageflow/internal_links/editor";
@import "pageflow/external_links/editor";
@import "pageflow/linkmap_page/editor";
@import "pageflow/embedded_video/editor";
@import "pageflow/chart/editor";

.blank_entry h2:before {
  background-image: asset-url("logo60x60@2x.png");
  background-size: contain;
  width: 100px;
  height: 100px;
  opacity: 1;
}

[data-wysihtml5-command="formatInline"] {
  &::before {
    font-family: "FontAwesome";
    content: "\f02a";
  }
}
