<% if entry.credits %>
  <p><%= raw entry.credits %></p>
<% end -%>
<%= entry_file_rights(entry) %>
<%= entry_global_links(entry) %>

<p>This story was published using <a href="https://www.scrollytelling.io/" target="_blank">Scrollytelling</a>.</p>
