.loader_logo {
  width: 400px;
  height: 200px;
  background-image: image-url('pageflow/themes/#{$theme-name}/loading.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 10% auto;
}
