@mixin shine-gradient {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(0, 0, 0, 0.1) 29%,rgba(0,0,0,0.05) 90%,rgba(246,246,246,0.1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(29%,rgba(0,0,0,0.1)), color-stop(90%,rgba(0,0,0,0.05)), color-stop(100%,rgba(246,246,246,0.1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(0, 0, 0, 0.1) 29%,rgba(0,0,0,0.05) 90%,rgba(246,246,246,0.1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(0, 0, 0, 0.1) 29%,rgba(0,0,0,0.05) 90%,rgba(246,246,246,0.1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(0, 0, 0, 0.1) 29%,rgba(0,0,0,0.05) 90%,rgba(246,246,246,0.1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0.1) 0%,rgba(0, 0, 0, 0.1) 29%,rgba(0,0,0,0.05) 90%,rgba(246,246,246,0.1) 100%); /* W3C */
}

@import "bourbon";
@import "pageflow/mixins";
@import "pageflow/animations";

@import "pageflow/linkmap_page/themes/default";
@import "pageflow/linkmap_page/themes/default/scroll_indicators";
@import "pageflow/external_links/themes/legacy";
@import "pageflow/sitemap/themes/default";

@import "navigation";
@import "polka-nav";

body {
  font-family: $standard-font;
}

/*
  theme standards for Scrollytelling

  These are visual standards we feel should apply to each Scrollytelling theme.
  */

.js .page:first-child {
  .content_and_background .scroller > div:after {
    content: " ";
    position: absolute;;
    top: 2%;
    left: 0;
    right: 0;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-image: image-url("pageflow/themes/#{$theme-name}/logo_header.png");
    background-repeat: no-repeat;
    background-size: contain;

    @include mobile {
      top: 20px;
      left: 16px;
      right: auto;
      margin-left: auto;
      margin-right: auto;
      height: 35px;
    }
  }
}

.js.page-invert .page:first-child .content_and_background .scroller > div:after {
  background-image: image-url("pageflow/themes/#{$theme-name}/logo_header_invert.png");
}

// hide the nav menu until we can make it really pretty
.navigation {
  display: none !important;
}

.js {
  // we feel the standard page width is too wide
  .page .scroller > div {
    padding: 15% 8% 5% 8%;
  }

  .vjs-loading-spinner {
    display: none !important;
  }

  // transparent video controls please
  .vjs-control-bar {
    background-color: transparent;
  	border: 0;
  }

  .vjs-slider-handle {
    display: none;
  }

  // https://github.com/codevise/pageflow/issues/413
  .videoWrapper {
    margin-right: 0 !important;
  }
}

.page {
  h1,
  h2 span.subtitle,
  h2 span.title,
  h2 span.tagline,
  h3,
  p {
    max-width: 400px !important;
    width: 60%;
  }
}

ul.sharing, ul.options {

  $size: 40px;

  img {
    visibility: hidden;
    width: $size;
    height: $size;
  }

  a {
    width: $size;
    height: $size;

    text-decoration: none;
    position: relative;
    display: inline-block;

    font-family: "FontAwesome";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    opacity: 0.8;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }

    &:before {
      color: #fff;
      font-size: 28px;
      line-height: $size;
      width: $size;
      text-align: center;
      position: absolute;
      left: 0;

      .page-invert & {
        color: #000;
      }
    }
  }

}

ul.sharing {

  position: absolute;
  top: 2%;
  right: 2%;
  width: 200px;
  max-width: 80%;
  height: 40px;
  z-index: 5;
  text-align: right;
  margin: 0;

  li {
    display: inline;
  }

  #share-tw:before { content: "\f099"; }
  #share-fb:before { content: "\f082"; }

}

ul.options {

  position: absolute;
  bottom: 2%;
  right: 2%;
  z-index: 5;
  list-style-type: none;
  margin: 0;

  #mute-audio:before { content: "\f028"; }
  #play-audio:before { content: "\f026"; }

}

@media screen and (max-width: 768px) {
  ul.sharing,
  ul.options #back-to-top {
    display: none;
  }
}

.entry .indicator {
  left: 2%;
  height: 30px;
}

// Hide loader
.finished-loading .loader_wrapper {
    display:none;
}

// Set initial state of hidden
.entry .page.invert, .entry .page.invert.text_position_right {
    background-color:transparent;
}

// When loaded - set bg to white
.slideshow .page.invert, .slideshow .page.invert.text_position_right {
    background-color:#fff;
}

.slideshow section.fade.text_position_right.invert, .slideshow section.fade.invert {
    background-color: transparent;
}

// Logo in loader on mobile always fitting in browser
.loader_wrapper .loader_logo {
  max-width: 80%;
  background-size: contain;
}

.imprint {
  display: none !important;
}
