@import "bourbon";
@import "pageflow/mixins";
@import "pageflow/animations";

/*
  theme standards for Scrollytelling

  These are visual standards we feel should apply to each Scrollytelling theme.
  */

.back_home_link {
  position: absolute;
  bottom: 2%;
  left: 2%;
  color: $anchor-color;
  font-family: $header-font;
  text-decoration: none;
  pointer-events: auto;

  @include mobile {
    bottom: 1%;
  }

  &:hover {
    text-decoration: underline;
  }
}

.js .page:first-child {
  .content_and_background .scroller > div:after {
    content: " ";
    position: absolute;;
    top: 2%;
    left: 0;
    right: 0;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-image: image-url("pageflow/themes/#{$theme-name}/logo_header.png");
    background-repeat: no-repeat;
    background-size: contain;

    @include mobile {
      top: 20px;
      left: 16px;
      right: auto;
      margin-left: auto;
      margin-right: auto;
      height: 35px;
    }

    &.invert .content_and_background .scroller > div:after {
      background-image: image-url("pageflow/themes/#{$theme-name}/logo_header_invert.png");
    }
  }
}

// hide the nav menu until we can make it really pretty
.navigation {
  display: none !important;
}

.js {
  // we feel the standard page width is too wide
  .page .scroller > div {
    padding: 15% 8% 5% 8%;
  }

  .vjs-loading-spinner {
    display: none !important;
  }

  // transparent video controls please
  .vjs-control-bar {
    background-color: transparent;
  	border: 0;
  }

  .vjs-slider-handle {
    display: none;
  }

  // https://github.com/codevise/pageflow/issues/413
  .videoWrapper {
    margin-right: 0 !important;
  }
}

.page {
  h1,
  h2 span.subtitle,
  h2 span.title,
  h2 span.tagline,
  h3,
  p {
    max-width: 400px !important;
    width: 60%;
  }
}

ul.sharing {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 200px;
  max-width: 80%;
  height: 40px;
  z-index: 5;
  text-align: right;
  margin: 0;
}

ul.sharing li {
  display: inline;
}

ul.sharing img,
ul.options img {
  width: 40px;
  height: 40px;
  opacity: .8;
}

ul.sharing img:hover,
ul.options img:hover {
  opacity: 1;
}

ul.options {
  position: absolute;
  bottom: 2%;
  right: 2%;
  z-index: 5;
  list-style-type: none;
  margin: 0;
}

@media screen and (max-width: 768px) {
  ul.sharing,
  ul.options #back-to-top {
    display: none;
  }
}

.entry .indicator {
  left: 2%;
  height: 30px;
}

// Hide loader
.finished-loading .loader_wrapper {
    display:none;
}

// Set initial state of hidden
.page.invert, .page.invert.text_position_right {
    background-color:transparent;
}

// When loaded - set bg to white
.slideshow .page.invert, .slideshow .page.invert.text_position_right {
    background-color:#fff;
}

.slideshow section.fade.text_position_right.invert, .slideshow section.fade.invert {
    background-color: transparent;
}
