$theme-name: "scrollytelling";

$main-color: #c9e8e4;
$main-color-dark: #8fc9bd;

$focus-color: #dbe3e1;

$anchor-color: #bbe2dc;

$basic-background-color: #353535;
$basic-background-color-transparent: rgba(53, 53, 53, 0.9);
$header-background-color: gray;

$addInfobox-text-color: #fff; /* for the description text inside the info box */
$addInfobox-controls-text-color: #42897c; /* for control text like durations */
$addInfobox-background-color: #191919;
$addInfobox-border-color: #505050;

$standard-font: Muli;
$standard-font-size: 1.1rem;
