<% if page_counter.zero? %><%# first page %>
  <div id="center-brand"></div>
<% end %>

<% if page_counter == revision.pages.count - 1 %><%# last page %>
  <% if revision.home_button_enabled? && revision.home_url.present? %>
    <%= link_to "â† #{revision.home_url.sub(/https?:\/\//, '')}", revision.home_url, class: "back_home_link" %>
  <% end %>
<% end %>
