<% if revision.home_button_enabled? && revision.home_url.present? %>
  <%= link_to "â† #{revision.home_url.sub(/https?:\/\//, '')}", revision.home_url, class: "back_home_link" %>
<% end %>
<div id="center-brand"></div>
