// required to start with .js because that's how Pageflow is styled.
.js {
	.page {
		color: $text-color;

		&.invert,
		&.invert.text_position_right {
			color: $text-invert-color;
			background-color: transparent;
		}

		.scroller > div {
			pointer-events: all;
			padding: $desktop-margins;

	    // Limit the length of text on desktops.
	    // Otherwise the text becomes difficult to track on very wide displays.
	    @include desktop {
	      .content_and_background .page_header,
	      .content_and_background .contentText {
	        max-width: 500px;
	      }
	    }
		}

		.embedded_video_page .scroller > div {
			padding-top: 100px;
		}
	}

	@include desktop {
		.page.text_position_left {
			.scroller > div {
				.content_and_background .page_header,
				.content_and_background .contentText {
					margin-right: auto;
				}
			}
		}

		.page.text_position_center {
			.scroller > div {
				.content_and_background .page_header,
				.content_and_background .contentText {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

		.page.text_position_right {
			.scroller > div {
				.content_and_background .page_header,
				.content_and_background .contentText {
					margin-left: auto;
				}
			}
		}
	}
}
